
$primary-color: #63EAF4;

$shell-white: #F2F2ED;
$shell-white-muted: #f2f2ed70;
$midnight-blue: #181D29;

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: $midnight-blue;
  color: $shell-white;
}

p {
  margin-top: .5em;
}

button {
  outline: none;
  border: none;
}

.btn {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: .2rem;
  &:hover {
    filter: brightness(125%);
  }
  &:active {
    filter: brightness(80%);
  }
}
.btn-block {
  display: inline-block;
  width: 100%;
}
.btn-thicc {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cell{
  max-height: 2rem;
  max-width: 2rem;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  color: $shell-white-muted;
  transition: all .1s ease-in-out;
}

.cell{
  &:hover {
    color: $primary-color;
    filter: brightness(150%);
  }
  &:focus {
    color: $primary-color;
    filter: brightness(150%);
  }
}

.text-dark {
  color: $midnight-blue;
}
.text-center {
  text-align: center;
}

.bg-light{
  background-color: $shell-white;
}

.d-flex {
  display: flex;
}

.game-container {
  width: max-content;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.user-input {
  margin-bottom: 1em;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  outline: none;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  &:focus, &:active, &:hover {
    border-bottom-color: $shell-white;

  }
}