
$primary-color: #63EAF4;

$shell-white: #F2F2ED;
$midnight-blue: #181D29;

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: $midnight-blue;
  color: $shell-white;
}

button {
  outline: none;
  border: none;
}

.btn {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-width: 1px;
  border-style: solid;
}
.btn-block {
  display: inline-block;
  width: 100%;
}

.cell{
  min-height: 2rem;
  min-width: 2rem;
  max-height: 2rem;
  max-width: 2rem;
  border-width: 1px;
  border-style: solid;
  transition: all .3s ease-in-out;
}

.cell{
  &:hover {
    color: $primary-color;
    filter: brightness(150%);
  }
  &:focus {
    color: $primary-color;
    filter: brightness(150%);
  }
}

.cell-alive{
  background-color: $shell-white;
}

.cell-dead{
  background-color: transparent;
}

.d-flex {
  display: flex;
}